{% extends 'layout.html' %} {% block body %}
<div class="col-md-offset-1 col-md-10 text-center">
    <h1>Your wallet</h1>
    <ul class="list-group text-center">
        <li class="list-group-item list-group-item-success row">
            <div class="col-md-2">Currency</div>
            <div class="col-md-2">Units</div>
            <div class="col-md-2">Total USD price</div>
            <div class="col-md-2">Total bought</div>
            <div class="col-md-2">Total sold</div>
            <div class="col-md-2">Change</div>
        </li>
        {% for currency in wallet.currencyManager.currencies.keys() %}
        <li class="list-group-item row">
            <div class="col-md-2">{{ currency }}</div>
            <div class="col-md-2">{{ wallet.currencyManager.getCurrency(currency).getCount(wallet.userId) }}</div>
            <div class="col-md-2">{{ wallet.currencyManager.getCurrency(currency).getCount(wallet.userId) * wallet.currencyManager.getCurrency(currency).getPriceUsd()}}</div>
            <div class="col-md-2">100</div>
            <div class="col-md-2">50</div>
            <div class="col-md-2">+10%</div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}